:root {
  --height-botton: 355px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}


@keyframes circle {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.circle {
  width: 120px;
  height: 120px;
  background-color: #61c3ff;
  border-radius: 50%;
  top: 50%;
  right: 20%;
  animation: circle 17s linear infinite;
  z-index: 0;
}

.shape {
  position: absolute;
  /* display: none; */
}

.footer {
  height: 40px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 40px;
  background: #a8bfe9;
}